/.venv
/__pycache__
/mapping_silver.xlsx
/~$sample_datamodel.xlsx
/debug
example/~$sample_datamodel.xlsx
example/~$basic_datamodel.xlsx
example/conceptual_datamodel*.gv
example/conceptual_datamodel*.pdf
example/datamodel*
example/logical_datamodel*.gv
example/logical_datamodel*.pdf

