<<table BORDER="1" cellspacing="0" color="{{colors[table.type]['BORDER_COLOR']}}" CELLBORDER="0"  >
<tr>
<td BGCOLOR="{{colors[table.type]['BG_COLOR']}}" BORDER="0"><B>{{table.name}}</B></td>
</tr>
<HR/>
{%- if table.get_columns('columnsPK', er_type) -%}
{%- for c in table.get_columns('columnsPK', er_type)  -%}
<tr>
    <td ALIGN="left" BALIGN="LEFT" BORDER="0" PORT="{{c.name}}">
        <table BORDER="0" cellspacing="0" CELLBORDER="0"  >
            <tr>
                <td ALIGN="left" BALIGN="LEFT" BORDER="0"><font color="{{colors[table.type]['FONT_COLOR']}}">(pk) <U ALIGN="left">{{c.name}}</U></font></td>
                {%- if er_type == ERType.PHYSICAL-%}<td ALIGN="right"><font color="{{type_color}}" >{{c.type}}</font></td>{%- endif -%}
            </tr>
        </table>
    </td>
</tr>
{%- endfor -%}
<HR/>
{%- endif -%}
{%- if table.get_columns('columnsFK', er_type) -%}
{%- for c in table.get_columns('columnsFK', er_type) -%}
<tr>
    <td ALIGN="left" BALIGN="LEFT" BORDER="0" PORT="{{c.name}}">
        <table BORDER="0" cellspacing="0" CELLBORDER="0"  >
            <tr>
                <td ALIGN="left" BALIGN="LEFT" BORDER="0"><font color="{{colors[table.type]['FONT_COLOR']}}">(fk) {{c.name}}</font></td>
                {%- if er_type == ERType.PHYSICAL-%}<td ALIGN="right"><font color="{{type_color}}" >{{c.type}}</font></td>{%- endif -%}
            </tr>
        </table>
    </td>
</tr>
{%- endfor -%}
<HR/>
{%- endif -%}
{%- if table.get_columns('columnsArgs', er_type) -%}
{%- for c in table.get_columns('columnsArgs', er_type) -%}
<tr>
    <td ALIGN="left" BALIGN="LEFT" BORDER="0" PORT="{{c.name}}">
        <table BORDER="0" cellspacing="0" CELLBORDER="0"  >
            <tr>
                <td ALIGN="left" BALIGN="LEFT" BORDER="0"><font color="{{colors[table.type]['FONT_COLOR']}}">{{c.name}}</font></td>
                {%- if er_type == ERType.PHYSICAL-%}<td ALIGN="right"><font color="{{type_color}}" >{{c.type}}</font></td>{%- endif -%}
            </tr>
        </table>
    </td>
</tr>
{%- endfor -%}
{%- endif -%}
</table>>